@import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
  
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fafafa;
}
{
  box-sizing:border-box;
}

.container{
height:100px;

}
#header-nav{
  background-color: #B22222;
  border-radius:0px;
  border:0px ;
  opacity:0.85;
}
.navbar-brand{


}

.navbar-brand h1{
font-family: 'Lora',serif;
color:#FDF5E6;
font-size:2em;
text-transform:uppercase;
font-weight: bold;
text-shadow: 1px 1px 1px #222;
margin-top:7px;
line-height: 0.75;
vertical-align:center;
transform: translate(-140px,15px);
}
.navbar-brand a:hover,.navbar-brand a:focus{
  text-decoration:none;
}
.btn{
  margin-top:17px;
  
  transform: translate(140px,15px);
}
a:hover{
  text-decoration:none;
}
img{
  width:70%;
  height:70%;
  transform:translateX(50px);
}

footer{
  background-color: #B22222;
  opacity:0.85;
  text-align:right;
  height:100px;
  
  color:#FDF5E6;
  position:relative;
  bottom:0px;
  right:0px;
  width:100%;
}
div.row {
  
  margin-top:15px;
}
#hours {
  line-height: 2;
}
#hours > span {
  font-size: 1.3em;
}

.loginbox{
  background-color:white;
  width: 85%;
  
  border-radius:5px;
  margin:100px;
  box-shadow: 2px 2px 2px 2px #e6e6e6;
  padding-bottom: 5px;
}
.loginbox h1{
  
 
  font-size:20px;
  background-color: #e6e6e6;
  color:black ;
  padding:30px;
  letter-spacing: 1.5px;
  
}
.table-box
{
    margin: 50px auto;
}

.table-row{
    display: table;
    width: 95%;
    margin: 10px auto;
    font-family: sans-serif;
    background: transparent;
    padding: 12px 0;
    color: #555;
    font-size: 13px;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
}
.table-head{
    color: black;
     font-weight:600;
    
}

.table-cell{
    display: table-cell;
    width: 12%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
}
.first-cell{
    text-align: left;
    padding-left: 10px;
    width:5%;
}
.last-cell{
    border-right: none;
    width:5%;
}
.table-row a{
    text-decoration: none;
    color: #555;
}
.long{
  width:15%;
}
@media only screen and (max-width: 600px) {
  .table-row {
    font-size: 11px;
  }
}





