@import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
	background:url(india1.png) no-repeat;
	background-size: cover;
  opacity:0.8;
	
	font-family: Arial, Helvetica, sans-serif;
}
*{
  box-sizing:border-box;
}

.loginbox{
  background-color:black;
  width: 320px;
  position :absolute;
   top:50%;
  left:80%;
  color:white;
  transform:translate(-50%,-50%);
  height:400px;
}
.loginbox h1{
  
  width:260px;
  font-size:40px;
  text-align: center;
  color:white;
  margin-top:50px;
  margin-bottom:30px;
  margin-left:30px;
  margin-right: 30px;
  padding:13px ;
  letter-spacing: 1.5px;
  
}

.btn{
  width:45%;
  border-radius:4px;
  padding: 5px;
  background:red;
  border:2px solid red;
  color:white;
  font-size:17px;
  cursor:pointer;
  margin:30px 0;
  position: relative;
  left:85px;
}

.textbox{
  padding:8px 0;
  margin:8px 0;
  
  width:100%;
  overflow:hidden;
  font-size:20px;
}
.textbox i{
  width:26px;
  float:left;
  text-align:center;
  position:relative;
  left:4px;
  top:5px;
}
.textbox input{
  height:30px;
  color:black;
  font-size:18px;
  float:left;
  margin:0 10px;
  width:250px;
  border-radius: 2px;
  border-color: white;
}
 
